ion-content {

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 3rem;
    h1 {
      
      font-size: 2.2rem;
      font-weight: bold;
      color: #c6051f;
      margin: 0;
    }

  }

  .categories {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    padding: 0 2%;
  }

  .list-header {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: white;
    font-size: 1.8rem;
    margin-bottom: 1rem !important;
    border-radius: 0;
    background-color: #c6051f;
  }

  .prato-do-dia {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
}
