<ion-content style="padding-right: 0 !important">
  <!-- header -->
  <div class="header">
    <h1>RESTAURANTE REAL</h1>
  </div>

  <!-- Prato do dia -->
  <h1 class="list-header" color="danger">Promoção</h1>
  <div class="prato-do-dia">
    <app-food-card
      id="open-modal"
      *ngFor="let food of foods"
      [item]="food"
    ></app-food-card>
  </div>

  <!-- Searchbar -->
  <app-searchbar></app-searchbar>

  <!-- Category -->
  <h2 style="text-align: center; margin-bottom: 1.5rem">Categorias</h2>
  <div class="categories">
    <app-category-item
      *ngFor="let categoria of categories"
      [item]="categoria"
      (clicked)="goToCategoriaPage(categoria.id)"
    ></app-category-item>
  </div>

  <ion-modal #modal trigger="open-modal">
    <ng-template>
      <ion-content color="">
        <ion-toolbar color="danger">
          <ion-title>Detalhes da prato do dia</ion-title>
          <ion-buttons slot="end">
            <ion-button style="color: white" (click)="modal.dismiss()"
              >Voltar</ion-button
            >
          </ion-buttons>
        </ion-toolbar>
        <h4 style="padding-left: 1rem">O prato do dia acompanha</h4>
        <ion-list>
          <ion-item color="danger">
            <ion-avatar slot="start" style="width: 40%; height: 100%">
              <ion-img src="../../../assets/img/camaraopetisco.png"></ion-img>
            </ion-avatar>
            <ion-label style="width: 60%">
              <h2>Camarão</h2>
              <p>Uma prato de entrada.</p>
            </ion-label>
          </ion-item>
          <ion-item color="danger">
            <ion-avatar slot="start" style="width: 40%; height: 100%">
              <ion-img src="../../../assets/img/frango-parmegiana.png"></ion-img>
            </ion-avatar>
            <ion-label style="width: 60%">
              <h2>Frango à Parmegiana</h2>
              <p style="width: 100%">Uma refeição.</p>
            </ion-label>
          </ion-item>
          <ion-item color="danger">
            <ion-avatar slot="start" style="width: 40%; height: 100%">
              <ion-img src="../../../assets/img/cupcake.png"></ion-img>
            </ion-avatar>
            <ion-label style="width: 60%">
              <h2>Cupcake</h2>
              <p>Uma sobremesa.</p>
            </ion-label>
          </ion-item>
          <ion-item color="danger">
            <ion-label>
              <h2>Valor</h2>
              <p>R$ 49.99</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
