ion-content {

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 3rem;

    h1 {
      
      font-size: 1.8rem;
      font-weight: 600;
      color: #e68a2e;
      margin: 0;
    }

  }

  .categories {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1rem;
    padding: 0 2%;
  }



  .list-header {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #000000;
    font-size: 1.8rem;
    margin-bottom: 0 !important;
    border-radius: 2.5rem 2.5rem 0 0;
    background-color: #e68a2e;
  }

  .prato-do-dia {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
}
