.card {
  width: 100%;
  padding: 1.6rem 2rem;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 2.5rem;
  margin-bottom: 1.5rem;
}



.card-content {
  text-align: center;

  .title {
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 0.2rem;
    color: #1d1d1d;
  }

  .subtitle {
    font-size: 1.3rem;
    font-weight: 700;
    color: #000000;
    margin-top: 0;

    sup {
      font-size: 1rem;
      margin-right: 2px;
    }
  }

}

/* app.component.css */

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;
}
