.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;


  .image-card {
    background-color: #f3f3f3;
    margin-bottom: 0.5rem;
    border-radius: 2rem !important;

    ion-img {
      width: 100%;
      height: 100%;
    border-radius: 2rem !important;

    }
  }

  p {
    color: #f2ce00;
  }
}

.wrapper .active {
  .image-card {
    background-color: #f2ce00;
  }

  p {
    color: #1d1d1d;
    font-weight: 600;
  }
}
