.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .image-card {
    background-color: #f3f3f3;
    margin-bottom: 0.5rem;

    ion-img {
      width: 100%;
      height: 100%;
    }
  }

  p {
    color: #c7c7c7;
  }
}

.wrapper .active {
  .image-card {
    background-color: #6b45bc;
  }

  p {
    color: #1d1d1d;
    font-weight: 600;
  }
}
